/*
.q_head {
    
}

.q_title {
    font-size: 1.4rem;
}

.q_text {
    font-size: 1.3rem;
}

.a_head {
    
}

.a_text {
    font-size: 1.2rem;
}

.c_head {
    
}

.c_text {

}*/

.q_head {}

.q_title {
    font-size: 1.2rem;
    font-weight: 350;
}

.q_text {
    font-size: 1.1rem;
}

.a_head {}

.a_text {
    font-size: 1.1rem;
}

.c_head {
    font-size: 1.1rem;
}

.c_text {
    font-weight: 300;
}

.btn {
    font-size: 0.8rem;
    padding: 0 1rem;
}

.vote-up {
    display: inline-block;
    overflow: hidden;
    height: 24px;
    width: 100%;
    cursor: pointer;
    background: url('../images/vote_bgs.png');
    background-position: 3px -10px;
}

.vote-up.on {
    background-position: -37.5px -10px;
}

.vote-count {
    text-align: center;
    height: 20px;
}

.vote-down {
    display: inline-block;
    overflow: hidden;
    height: 24px;
    width: 100%;
    cursor: pointer;
    background: url('../images/vote_bgs.png');
    background-position: 3px 33px;
}

.vote-down.on {
    background-position: -37.5px 33px;
}

#comment-delete {
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.7);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}