{% extends 'common/questions.html' %}
{% load staticfiles %}
{% block title %} {{ q.title }} {% endblock %}
{% block extrahead %} 
<link href="{% static 'qac/css/detail.css' %}" rel="stylesheet">
{% endblock %}
{% load material_form %} 
{% block content %}
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card" style="margin-bottom:0;margin-top:20px;">
            <div class="card-content">
                <div class="card-title center" style="border-bottom:5px solid #009688;color:teal;">
                    <h5 class="q_head">Question</h5>
                </div>
                <div class="collection" style="margin-top:20px;">
                    <div class="collection-item">
                        <div class="row valign-wrapper" style="margin-bottom:0;">
                            <div class="col s1" style="margin:10 0 0 0; padding:0; align-self:flex-start; width:45px;">
                                <div class="btn-small vote-up">
                                </div>
                                <div class="vote-count">
                                {{ net_votes }}
                                </div>
                                <div class="btn-small vote-down">
                                </div>
                            </div>
                            <div class="col s11 offset-s1" style="margin-left:0px;width:calc(100% - 45px);">

                                <h5 style="line-height:normal;margin-bottom:20px;"><span class="q_title">{{ q.title }}</span></h5>
                                <p class="card-title" style="line-height:normal;"><span class="q_text">{{ q.text }}</span></p>
                                {% if request.user == q.created_by %}
                                <div class="row" style="margin-top: 20px;margin-bottom:10px;">
                                    <div class="col s12">
                                        <a href="{% url 'edit-question' id=q.id %}" class="btn waves-effect waves-light right">Edit</a>
                                    </div>
                                </div>
                                {% else %}
                                    {% if not a_user %}
                                    <div class="row center valign-wrapper" style="margin-top:20px;margin-bottom:10px;">
                                        <div class="col s6">
                                            <a href="{% url 'add-answer' id=q.id %}" class="btn waves-effect waves-light left">Answer</a>
                                        </div>
                                        <div class="col s6">
                                            <p class="right">{{ q.created_by }}</p>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="row center valign-wrapper" style="margin-top:20px;margin-bottom:10px;">
                                        <div class="col s12">
                                            <p class="right">{{ q.created_by }}</p>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endif %}

                                {% with c_list=q.comments.all %}
                                {% if c_list %}
                                <div class="card-title center" style="color:teal;">
                                    <h6 class="c_head">Comments</h6>
                                </div>
                                <ul class="collection" style="margin-bottom:0;">
                                    {% for c in c_list %}
                                        <li class="collection-item"> 
                                            <div class="row" style="line-height:normal; margin-bottom:10px;">
                                            <span class="col s12 c_text" style="margin-bottom:10px;margin-top:10px;">{{ c.text }}</span>
                                            {% if c.created_by == request.user %}
                                                <a href="{% url 'edit-question-comment' id=q.id c_id=c.id %}" class="btn waves-effect waves-light right" style="margin-right:10px;">Edit</a>
                                            {% else %}
                                                <p class="right" style="margin-right:10px;margin-bottom:5px;">{{ c.created_by }}</p>
                                            {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {% endwith %}
                                <div class="row center" style="margin-bottom:10px;margin-top:20px;">
                                    <div class="col s12">
                                        <a href="{% url 'add-question-comment' id=q.id %}" class="btn waves-effect waves-light">Comment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>

{% if a_user %}
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card" style="margin-top:0;margin-bottom:0;">
            <div class="card-content">
                <div class="card-title center" style="border-bottom:5px solid #009688;color:teal;">
                    <h5 class="a_head">Your Answer</h5>
                </div>
                <div class="collection" style="margin-top:20px;">
                    <div class="collection-item">
                        <div class="row valign-wrapper">
                            <div class="col s12">
                                <h5 class="card-title" style="line-height:normal;"><span class="a_text">{{ a_user.text }}</span></h5>
                                <div class="row">
                                    <a href="{% url 'edit-answer' id=q.id a_id=a_user.id %}" class="btn waves-effect waves-light right" style="margin-right:10px;">Edit</a>
                                </div>
                                {% with c_list=a_user.comments.all %}
                                {% if c_list %}
                                <div class="card-title center" style="color:teal;">
                                    <h6 class="c_head">Comments</h6>
                                </div>
                                <ul class="collection" style="margin-bottom:0;">
                                    {% for c in c_list %}
                                        <li class="collection-item"> 
                                            <div class="row" style="line-height:normal; margin-bottom:10px;">
                                            <span class="col s12 c_text" style="margin-bottom:10px;margin-top:10px;">{{ c.text }}</span>
                                            {% if c.created_by == request.user %}
                                                <a href="{% url 'edit-answer-comment' id=q.id a_id=a_user.id c_id=c.id %}" class="btn waves-effect waves-light right" style="margin-right:10px;">Edit</a>
                                            {% else %}
                                                <p class="right" style="margin-right:10px;margin-bottom:5px;">{{ c.created_by }}</p>
                                            {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="row center" style="margin-bottom:10px;">
                            <div class="col s12">
                                <a href="{% url 'add-answer-comment' id=q.id a_id=a_user.id %}" class="btn waves-effect waves-light">Comment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
        
{% if a_list %}
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card" style="margin-top:0;">
            <div class="card-content">
                <div class="card-title center" style="border-bottom:5px solid #009688;color:teal;">
                    <h5 class="a_head">Answers</h5>
                </div>
                <div class="collection" style="margin-top:20px;">
                    {% for a in a_list %}
                        <div class="collection-item">
                            <div class="row valign-wrapper">
                                <div class="col s12">
                                    
                                    {% comment %}
                                    <input type="text" class="card-title" value="{{ a.text }}">
                                    <div class="card-title" style="line-height:normal;">
                                        <h6>{{ a.text }}</h6>
                                    </div>
                                    <h5 class="card-title" style="line-height:normal;"><span class="a_text">{{ a.text }}</span></h5>
                                    {% endcomment %}
                            
                                    <h5 class="card-title" style="line-height:normal;"><span class="a_text">{{ a.text }}</span></h5>
                                    {% if a.created_by == request.user %}
                                    <div class="row">
                                        <a href="{% url 'edit-answer' id=q.id a_id=a.id %}" class="btn waves-effect waves-light right" style="margin-right:10px;margin-bottom:5px;">Edit</a>
                                    </div>
                                    {% else %}
                                    <div class="row" style="margin-bottom:5px;">
                                        <p class="right" style="margin-right:10px;">{{ a.created_by }}</p>
                                    </div>
                                    {% endif %}
                                    {% with c_list=a.comments.all %}
                                    {% if c_list %}
                                    <div class="card-title center" style="color:teal;">
                                        <h6 class="c_head">Comments</h6>
                                    </div>
                                    <ul class="collection" style="margin-bottom:0;">
                                        {% for c in c_list %}
                                            <li class="collection-item"> 
                                                <div class="row" style="line-height:normal; margin-bottom:10px;">
                                                <span class="col s12 c_text" style="margin-bottom:10px;margin-top:10px;">{{ c.text }}</span>
                                                {% if c.created_by == request.user %}
                                                    <a href="{% url 'edit-answer-comment' id=q.id a_id=a.id c_id=c.id %}" class="btn waves-effect waves-light right" style="margin-right:10px;">Edit</a>
                                                {% else %}
                                                    <p class="right" style="margin-right:10px;">{{ c.created_by }}</p>
                                                {% endif %}
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="row center" style="margin-bottom:10px;">
                                <div class="col s12">
                                    <a href="{% url 'add-answer-comment' id=q.id a_id=a.id %}" class="btn waves-effect waves-light">Comment</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>

QVote = (function(){

    var vote_up,vote_down,is_authenticated,vote_count,request_user,question_creator;
    
    function toggle_vote_up(on, count, bool){
        $.ajax({
            url: "{% url 'vote-question' id=q.id %}",
            data: {
                'dir': 'up',
                'switch': on,
            },
            type: 'GET',
            success: function (data, status, xhr) {
                if(data['result'] !== 0){
                    vote_up.toggleClass('on');
                    if(!bool && on === 'y' && vote_down.hasClass('on')){
                        toggle_vote_down('n', data['result'], true);
                    }
                    else{
                        var x = parseInt(vote_count.html().trim(),10) + count + data['result'];
                        vote_count.html(x.toString());
                    }
                }
            },
            error: function (jqXHR, exception) {
                console.log('Upvote error');
                Materialize.toast('Some error occurred', 1500);
                return 0;
            }
        });    
    }
    
    function toggle_vote_down(on, count, bool){
        $.ajax({
            url: "{% url 'vote-question' id=q.id %}",
            data: {
                'dir': 'down',
                'switch': on,
            },
            type: 'GET',
            success: function (data, status, xhr) {
                if(data['result'] !== 0){
                    vote_down.toggleClass('on');
                    if(!bool && on === 'y' && vote_up.hasClass('on')){
                        toggle_vote_up('n', data['result'], true);
                    }
                    else{
                        var x = parseInt(vote_count.html().trim(),10) + count + data['result'];
                        vote_count.html(x.toString());
                    }
                }
            },
            error: function (jqXHR, exception) {
                console.log('Downvote error');
                Materialize.toast('Some error occurred', 1500);
                return 0;
            }
        });    
    }
    
    function init(){
        is_authenticated = '{{ request.user.is_authenticated }}';
        vote_up = $('.vote-up');
        vote_down = $('.vote-down');
        vote_count = $('.vote-count');
        request_user = '{{ request.user }}';
        question_creator = '{{ q.created_by }}';
        
        if(is_authenticated === 'True') {
            if(request_user !== question_creator){
                $.ajax({
                    url: "{% url 'load-vote-question' id=q.id %}",
                    type: 'GET',
                    success: function (data, status, xhr) {

                        if(data['result'] === 'up'){
                            vote_up.addClass('on');
                        }
                        else if(data['result'] === 'down'){
                            vote_down.addClass('on');
                        }

                        vote_up.click(function () {
                            if(vote_up.hasClass('on')){
                                toggle_vote_up('n', 0, false);
                            }
                            else{
                                toggle_vote_up('y', 0, false);
                            }
                        });
                        vote_down.click(function () {
                            if(vote_down.hasClass('on')){
                                toggle_vote_down('n', 0, false);
                            }
                            else{
                                toggle_vote_down('y', 0, false);
                            }
                        });

                    },
                    error: function (jqXHR, exception) {

                        console.log('Vote load error');
                        vote_up.click(function(){
                            Materialize.toast('Some error occurred', 1500);
                        });
                        vote_down.click(function(){
                            Materialize.toast('Some error occurred', 1500);
                        });                    
                    }
                });    
            }
            else{
                vote_up.click(function(){
                    Materialize.toast('You cannot upvote your own question', 1500);
                });
                vote_down.click(function(){
                    Materialize.toast('You cannot downvote your own question', 1500);
                });   
            }
        }
        else {
            vote_up.click(function(){
                Materialize.toast('You must login to upvote', 1500);
//                 window.location = "{% url 'login' %}?next={{ request.META.PATH_INFO }}";
            });
            vote_down.click(function(){
                Materialize.toast('You must login to downvote', 1500);
//                window.location = "{% url 'login' %}?next={{ request.META.PATH_INFO }}";
            });
        }
    }
    
    return {
        init: init
    }
})();

$(document).ready(function () {
    QVote.init();
});
</script>
{% endblock %}