{% extends 'common/questions.html' %}
{% load staticfiles %}
{% block page_title %} Questions {% endblock %}
{% block extrahead %}
<link href="{% static 'qac/css/index.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% load material_form %} 
{% block content %}
{% if q_list %}
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card" style="margin-top:20px;">
            <div class="card-content">
                <div class="card-title center" style="border-bottom:5px solid #009688;color:teal;">
                    <h5>Questions</h5>
                </div>
                <div class="row center" style="margin-top:5px;" id="search-div">
                    <input class="left col s10 m8 offset-s1 offset-m2" type="text" id="search" placeholder="Search Question">
                </div>
                <div class="collection question_ul" style="margin-top:20px;" id="results">
                    {% for q in q_list %}
                        <div class="collection-item">
                            <div class="row">
                                <div class="col s12">
                                    <h6 class="card-title" style="line-height:normal;"><a href="{% url 'show-question' id=q.id %}" class="q_title">{{ q.title }}</a></h6>
                                </div>
                            </div>
                            {% if request.user == q.created_by %}
                            <div class="row" style="margin-top: 10px;margin-bottom:10px;">
                                <div class="col s12">
                                    <a href="{% url 'delete-question' id=q.id %}" class="btn-small waves-effect waves-light right user-question-delete">Delete</a>
                                    <a href="{% url 'edit-question' id=q.id %}" class="btn-small waves-effect waves-light right" style="margin-right:20px;">Edit</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="row" style="margin-top: 10px;margin-bottom:10px;">
                                <div class="col s12">
                                    <p class="right" style="text-align: right"><strong>{{ q.created_by }}</strong> on {{ q.created_on|date:"M d, Y" }}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% if page.has_previous or page.has_next %}
                <div class="row" style="margin-top:20px;margin-bottom:0px;">
                    {% if page.has_previous %}
                    <a class="btn waves-effect waves-light left" style="margin-left:10px;" href="{% url 'all-questions-page' page_num=page.previous_page_number %}">Previous</a>
                    {% endif %}
                    {% if page.has_next %}
                    <a class="btn waves-effect waves-light right" style="margin-right:10px;" href="{% url 'all-questions-page' page_num=page.next_page_number %}">Next</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block other %}
<div class="fixed-action-btn" style="bottom: 40px; right: 40px;">
    <a class="btn-floating btn-large red tooltipped waves-effect waves-light" data-position="top" data-delay="50" data-tooltip="Ask Question" href="{% url 'add-question' %}"><i class="lage material-icons">add</i></a>
</div>
{% endblock %}
        
{% block scripts %}
<script>
    
QDelete = (function(){
    
    function deleteQuestion(e){
        e.preventDefault();
        var div = document.createElement('div');
        div.setAttribute('id','question-delete');
        div.innerHTML = '<div class="col s10 m6 offset-s1-m3 card-panel" style="margin:0;">' + 
                             '<div class="row valign-wrapper">Do you really want to delete your question?' +
                             '</div>' +
                             '<div class="row center valign-wrapper" style="margin:0;">' +
                                '<div class="col s6">' +
                                    '<a class="btn-small waves-effect waves-light" href="' + this['href'] + '?next={% url "all-questions" %}">Yes</a>' +
                                '</div>' +
                                '<div class="col s6">' +
                                    '<a class="btn-small waves-effect waves-light" href="#" id="no-question-delete">No</a>' +
                                '</div>' +
                             '</div>' +
                        '</div>';
        document.body.appendChild(div);
        $('#no-question-delete').on('click',function(event){
            event.preventDefault();
            $('#question-delete').remove();
        })
    }
    
    function init(){
        if('{{ request.user.is_authenticated }}' === 'True'){
            var a_tags = document.querySelectorAll('.user-question-delete');
            for(var i=0;i<a_tags.length;i++){
                a_tags[i].addEventListener('click', deleteQuestion);
            }
        }
    }
    
    return {
        init: init
    }
})();


QSearch = (function () {
    var el, results_div, results_div_html, results_after_div;

    function updateResults(questions) {

        var se = document.getElementById('search-result');
        if (se) {
            if (questions.length === 0) {
                se.innerHTML = 'No Results.';
            } else if (questions.length === 1) {
                se.innerHTML = questions.length + ' question found.';
            } else {
                se.innerHTML = questions.length + ' questions found.';
            }
        } else {
            var ul = document.createElement('ul');
            ul.setAttribute('class', 'collection with-header center col s10 offset-s1');
            var li = document.createElement('li');
            li.setAttribute('class', 'collection-header');
            li.setAttribute('id', 'search-result');
            li.setAttribute('style', 'border:none;');
            if (questions.length === 0) {
                li.innerHTML = 'No Results.';
            } else if (questions.length === 1) {
                li.innerHTML = questions.length + ' question found.';
            } else {
                li.innerHTML = questions.length + ' questions found.';
            }
            ul.appendChild(li)
            $(ul.outerHTML).insertAfter('#search');
        }

        results_div.empty();
        results_after_div.remove();
        
        for (var i = 0; i < questions.length; i++) {
            var item = document.createElement('div');
            item.setAttribute('class', 'collection-item');

            var q_date = new Date(questions[i].created_on).toLocaleDateString('en-GB', { day : 'numeric', month : 'short', year : 'numeric' }).split(' ');
            if(q_date[0].length === 1 ){
                q_date[0] = '0' + q_date[0];
            }
            q_date = q_date[1] + ' ' + q_date[0] + ', ' + q_date[2];

            var inner = '<div class="row">' +
                            '<div class="col s12">' +
                                '<h6 class="card-title" style="line-height:normal;"><a href="/question/' + questions[i].id + '/" class="q_title">' + questions[i].title + '</a></h6>' +
                            '</div>' +
                        '</div>';
            if ('{{ request.user.username }}' === questions[i].created_by) {
                inner = inner +
                            '<div class="row" style="margin-top: 10px;margin-bottom:10px;">' +
                                '<div class="col s12">' +
                                    '<a href="/question/' + questions[i].id + '/delete/" class="btn-small waves-effect waves-light right user-question-delete">Delete</a>' +
                                    '<a href="/question/' + questions[i].id + '/edit/" class="btn-small waves-effect waves-light right" style="margin-right:20px;">Edit</a>' +
                                '</div>' +
                            '</div>';
            } else {
                inner = inner +
                            '<div class="row" style="margin-top: 10px;margin-bottom:10px;">' +
                                '<div class="col s12">' +
                                    '<p class="right" style="text-align: right"><strong>' + questions[i].created_by + '</strong> on ' + q_date + '</p>' +
                                '</div>' +
                            '</div>';
            }
            item.innerHTML = inner;
            results_div.append(item);
        }
        
        if (questions.length === 0){
            results_div.attr('style','margin-top:20px; display:none;');
        }
        else {
            results_div.attr('style','margin-top:20px;');
            QDelete.init();
        }

    }

    function search() {
        var term = $(this).val().trim();
        if (term !== '') {
            $.ajax({
                url: "{% url 'search-questions' %}",
                data: {
                    'q': term
                },
                type: 'GET',
                success: function (data, status, xhr) {
                    updateResults(data['questions']);
                },
                error: function (jqXHR, exception) {
                    var se = document.getElementById('search-result');
                    if (se) {
                        se.innerHTML = 'Something went wrong.';
                    }
                    else {
                        var ul = document.createElement('ul');
                        ul.setAttribute('class', 'collection with-header center col s10 offset-s1');
                        var li = document.createElement('li');
                        li.setAttribute('class', 'collection-header');
                        li.setAttribute('id', 'search-result');
                        li.setAttribute('style', 'border:none;');
                        li.innerHTML = 'Something went wrong.';
                        ul.appendChild(li)
                        $(ul.outerHTML).insertAfter('#search');
                    }
                }
            });
        } else {
            el.nextAll().remove();
            results_div.html(results_div_html);
            results_div.attr('style','margin-top:20px;');
            $(results_after_div).insertAfter(results_div);
        }
    }

    function init() {
        results_div = $('#results');
        results_div_html = results_div.html();
        results_after_div = results_div.next();
        el = $('#search');
        el.on('input', search);
        QDelete.init();
    }
    return {
        init: init
    };
})();
    
    


$(document).ready(function () {
    QSearch.init();
});
</script>
{% endblock %}
