.q_title {
    text-decoration:none;
    color: black;
    font-size: 1.2rem;
}

.q_title:hover {
    color: #009688;
}

.q_text {
    font-size: 1.1rem;
}

#question-delete {
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.7);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question_ul {
    border:none;
}
.question_ul > .collection-item {
    border:none;
    border-top:1px solid #e0e0e0;
    padding:10px;
}

/*.question_ul > .collection-item:last-child{*/
    /*border-bottom:1px solid #e0e0e0;*/
/*}*/
