{% extends 'common/base.html' %}
{% block title %} Sign Up {% endblock %}
{% load material_form %}
{% block content %}
<div class="row">
    <div class="col s12 m10 l8 offset-m1 offset-l2">
        <div class="card-panel" style="margin-top:20px;">
            <h4> Edit Profile </h4>
                <form action = "{% url 'edit-profile' id=u_id %}" method='POST'>
                    {% csrf_token %}
                    {% form form=f %}{% endform %}
                    <div class="row center">
                        <div class="col s12">
                            <button type="submit" id ="edit_profile-btn" name="edit_profile" class="btn waves-effect waves-light">Update</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

